-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: englishexamapp
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `answers`
--

DROP TABLE IF EXISTS `answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `answers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `content` text NOT NULL,
  `explanation` text,
  `is_correct` bit(1) DEFAULT NULL,
  `question_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK3erw1a3t0r78st8ty27x6v3g1` (`question_id`),
  CONSTRAINT `FK3erw1a3t0r78st8ty27x6v3g1` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=721 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `answers`
--

LOCK TABLES `answers` WRITE;
/*!40000 ALTER TABLE `answers` DISABLE KEYS */;
/*!40000 ALTER TABLE `answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exam_sections`
--

DROP TABLE IF EXISTS `exam_sections`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exam_sections` (
  `id` int NOT NULL AUTO_INCREMENT,
  `media_public_id` varchar(255) DEFAULT NULL,
  `media_url` varchar(255) DEFAULT NULL,
  `passage_content` longtext,
  `section_order` int DEFAULT NULL,
  `skill_type` enum('LISTENING','READING','SPEAKING','WRITING') NOT NULL,
  `exam_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FK9f071ketmsh5txvih16uifs15` (`exam_id`),
  CONSTRAINT `FK9f071ketmsh5txvih16uifs15` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exam_sections`
--

LOCK TABLES `exam_sections` WRITE;
/*!40000 ALTER TABLE `exam_sections` DISABLE KEYS */;
/*!40000 ALTER TABLE `exam_sections` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `exams`
--

DROP TABLE IF EXISTS `exams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `exams` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `is_premium_only` bit(1) DEFAULT NULL,
  `title` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKfpiy43muh9uhaichibggyiiv0` (`title`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `exams`
--

LOCK TABLES `exams` WRITE;
/*!40000 ALTER TABLE `exams` DISABLE KEYS */;
INSERT INTO `exams` VALUES (1,'2026-09-11 02:48:52.011088','Cambridge IELTS 18 Academic practice data - Test 1',_binary '\0','Cambridge IELTS 18 Academic - Test 1'),(2,'2026-09-11 21:01:27.212385','Cambridge IELTS 18 Academic practice data - Test 2',_binary '\0','Cambridge IELTS 18 Academic - Test 2');
/*!40000 ALTER TABLE `exams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mock_sessions`
--

DROP TABLE IF EXISTS `mock_sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mock_sessions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `end_time` datetime(6) DEFAULT NULL,
  `max_candidates` int DEFAULT NULL,
  `registration_deadline` datetime(6) DEFAULT NULL,
  `room_code` varchar(255) NOT NULL,
  `start_time` datetime(6) DEFAULT NULL,
  `status` enum('COMPLETED','ONGOING','PENDING') NOT NULL,
  `exam_id` int NOT NULL,
  `expert_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK4djkwmk2n6m7jho1temky4pp2` (`room_code`),
  KEY `FKobm3rkaj8n8o34qx2te0wt3ob` (`exam_id`),
  KEY `FKkr7mtcs6qggqennyirfdwpkos` (`expert_id`),
  CONSTRAINT `FKkr7mtcs6qggqennyirfdwpkos` FOREIGN KEY (`expert_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKobm3rkaj8n8o34qx2te0wt3ob` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mock_sessions`
--

LOCK TABLES `mock_sessions` WRITE;
/*!40000 ALTER TABLE `mock_sessions` DISABLE KEYS */;
INSERT INTO `mock_sessions` VALUES (1,'2026-09-12 14:17:18.474533','2026-09-13 15:16:00.000000',20,'2026-09-12 15:17:00.000000','A01','2026-09-13 14:16:00.000000','ONGOING',1,2),(2,'2026-09-12 14:19:29.644887','2026-09-13 18:19:00.000000',20,'2026-09-12 14:19:00.000000','B01','2026-09-13 17:19:00.000000','PENDING',2,2);
/*!40000 ALTER TABLE `mock_sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` int NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) DEFAULT NULL,
  `completed_at` datetime(6) DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `payment_method` enum('CREDIT','FAKE','MOMO','STRIPE','VNPAY') NOT NULL,
  `premium_duration` int DEFAULT NULL,
  `status` enum('FAILED','PENDING','SUCCESS') NOT NULL,
  `transaction_id` varchar(255) DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKlryndveuwa4k5qthti0pkmtlx` (`transaction_id`),
  KEY `FKj94hgy9v5fw1munb90tar2eje` (`user_id`),
  CONSTRAINT `FKj94hgy9v5fw1munb90tar2eje` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
INSERT INTO `payments` VALUES (2,49000.00,'2026-09-12 15:30:50.619514','2026-09-12 15:30:13.958303','MOMO',30,'SUCCESS','MOMOPREM17892018139554500A81A',4),(5,49000.00,'2026-09-13 09:11:26.746753','2026-09-13 09:11:26.761387','FAKE',30,'SUCCESS','DEMO_6b9a425a-7d2f-4a08-acd0-04d78b21561a',1),(6,49000.00,NULL,'2026-09-13 09:16:07.833942','MOMO',30,'PENDING','MOMOPREM178929096778971A1EC4B',5),(7,49000.00,'2026-09-13 09:19:47.186172','2026-09-13 09:17:47.776730','MOMO',30,'SUCCESS','MOMOPREM178929106777557ECC208',5);
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questions`
--

DROP TABLE IF EXISTS `questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `questions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `content` text NOT NULL,
  `duration_seconds` int DEFAULT NULL,
  `image_public_id` varchar(255) DEFAULT NULL,
  `image_url` varchar(500) DEFAULT NULL,
  `order_index` int DEFAULT NULL,
  `points` double NOT NULL,
  `preparation_seconds` int DEFAULT NULL,
  `question_type` enum('ESSAY','FILL_IN_BLANK','MATCHING','MULTIPLE_CHOICE','SINGLE_CHOICE','SPEAKING','TRUE_FALSE_NOT_GIVEN') NOT NULL,
  `exam_section_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKcamn969eqxn5bg3fvggsy577w` (`exam_section_id`),
  CONSTRAINT `FKcamn969eqxn5bg3fvggsy577w` FOREIGN KEY (`exam_section_id`) REFERENCES `exam_sections` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=179 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questions`
--

LOCK TABLES `questions` WRITE;
/*!40000 ALTER TABLE `questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKofx66keruapi6vyqpv6f2or37` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (3,'ADMIN'),(2,'EXPERT'),(1,'USER');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `session_registrations`
--

DROP TABLE IF EXISTS `session_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `session_registrations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `candidate_number` int DEFAULT NULL,
  `registered_at` datetime(6) NOT NULL,
  `session_id` int NOT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKr9fd1tltc4ahdxcw4v5jn7dbh` (`session_id`,`user_id`),
  UNIQUE KEY `UK222h9n87svtdxn9i845mr5e7h` (`session_id`,`candidate_number`),
  KEY `FKnvncti1b8hrai5e9p6417boan` (`user_id`),
  CONSTRAINT `FK70xtk8mr1yxjc08i97mmlqr4o` FOREIGN KEY (`session_id`) REFERENCES `mock_sessions` (`id`),
  CONSTRAINT `FKnvncti1b8hrai5e9p6417boan` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `session_registrations`
--

LOCK TABLES `session_registrations` WRITE;
/*!40000 ALTER TABLE `session_registrations` DISABLE KEYS */;
INSERT INTO `session_registrations` VALUES (1,1,'2026-09-12 14:17:50.093421',1,1);
/*!40000 ALTER TABLE `session_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill_results`
--

DROP TABLE IF EXISTS `skill_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill_results` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ai_analysis` json DEFAULT NULL,
  `band_score` decimal(3,1) DEFAULT NULL,
  `skill_type` enum('LISTENING','READING','SPEAKING','WRITING') NOT NULL,
  `attempt_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK8gmy9u3ijt81ydtgdfmp4amke` (`attempt_id`,`skill_type`),
  CONSTRAINT `FKiyh2mpvpc5g296jhp0al1nq46` FOREIGN KEY (`attempt_id`) REFERENCES `test_attempts` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill_results`
--

LOCK TABLES `skill_results` WRITE;
/*!40000 ALTER TABLE `skill_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_attempts`
--

DROP TABLE IF EXISTS `test_attempts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `test_attempts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ai_overall_feedback` json DEFAULT NULL,
  `created_at` datetime(6) NOT NULL,
  `end_time` datetime(6) DEFAULT NULL,
  `overall_band_score` decimal(3,1) DEFAULT NULL,
  `start_time` datetime(6) DEFAULT NULL,
  `exam_id` int NOT NULL,
  `session_id` int DEFAULT NULL,
  `user_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `FKfwtnv5jfryeao4ypcep0wdfgt` (`exam_id`),
  KEY `FKijx1qrxbyfyaop4u9i6wqg0lk` (`session_id`),
  KEY `FK6q32269iwnavc4q6o46lwyu3u` (`user_id`),
  CONSTRAINT `FK6q32269iwnavc4q6o46lwyu3u` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `FKfwtnv5jfryeao4ypcep0wdfgt` FOREIGN KEY (`exam_id`) REFERENCES `exams` (`id`),
  CONSTRAINT `FKijx1qrxbyfyaop4u9i6wqg0lk` FOREIGN KEY (`session_id`) REFERENCES `mock_sessions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_attempts`
--

LOCK TABLES `test_attempts` WRITE;
/*!40000 ALTER TABLE `test_attempts` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_attempts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_response_choices`
--

DROP TABLE IF EXISTS `user_response_choices`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_response_choices` (
  `id` int NOT NULL AUTO_INCREMENT,
  `answer_id` int NOT NULL,
  `response_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKi2l8k6oy996j8887dkwhkg8ru` (`response_id`,`answer_id`),
  KEY `FK6h7cidhvtmsb8q8vpl0o9erw4` (`answer_id`),
  CONSTRAINT `FK6h7cidhvtmsb8q8vpl0o9erw4` FOREIGN KEY (`answer_id`) REFERENCES `answers` (`id`),
  CONSTRAINT `FKcdetfbpefogg2mq9cxfigbygn` FOREIGN KEY (`response_id`) REFERENCES `user_responses` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_response_choices`
--

LOCK TABLES `user_response_choices` WRITE;
/*!40000 ALTER TABLE `user_response_choices` DISABLE KEYS */;
INSERT INTO `user_response_choices` VALUES (1,371,3),(2,377,4),(3,381,5),(4,384,6),(5,389,7),(6,392,8),(7,395,9),(8,568,10),(9,572,11),(10,575,12),(11,582,13),(12,584,14),(13,589,15),(14,719,16),(15,1,22),(16,314,23),(17,277,24),(18,312,25),(19,275,26),(20,7,27),(21,273,28),(22,9,29),(23,307,30),(24,270,31),(25,13,32),(26,16,33),(27,114,34),(28,294,35),(29,293,36),(30,118,37),(31,255,38),(32,290,39),(33,253,40),(34,123,41),(35,127,42),(36,133,43),(37,243,44),(38,374,50),(39,378,51),(40,573,52),(41,374,55),(42,570,56),(43,574,57),(44,718,58),(45,569,61);
/*!40000 ALTER TABLE `user_response_choices` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_responses`
--

DROP TABLE IF EXISTS `user_responses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_responses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ai_score` decimal(3,1) DEFAULT NULL,
  `file_public_id` varchar(255) DEFAULT NULL,
  `file_url` varchar(255) DEFAULT NULL,
  `speech_to_text_trans` text,
  `text_content` text,
  `attempt_id` int NOT NULL,
  `question_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UKj31ooqo6tcr6blt8w00v1eutf` (`attempt_id`,`question_id`),
  KEY `FKjkpkrl7envn449i8n2i5jg6ra` (`question_id`),
  CONSTRAINT `FK9mfc88dnlnunufwp8t59nh2oo` FOREIGN KEY (`attempt_id`) REFERENCES `test_attempts` (`id`),
  CONSTRAINT `FKjkpkrl7envn449i8n2i5jg6ra` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=67 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_responses`
--

LOCK TABLES `user_responses` WRITE;
/*!40000 ALTER TABLE `user_responses` DISABLE KEYS */;
/*!40000 ALTER TABLE `user_responses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `created_at` datetime(6) NOT NULL,
  `email` varchar(255) NOT NULL,
  `full_name` varchar(255) NOT NULL,
  `password` varchar(255) NOT NULL,
  `updated_at` datetime(6) NOT NULL,
  `username` varchar(255) NOT NULL,
  `role_id` int NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `UK6dotkott2kjsp8vw4d0m25fb7` (`email`),
  UNIQUE KEY `UKr43af9ap4edm43mmtq01oddj6` (`username`),
  KEY `FKp56c1712k691lhsyewcssf40f` (`role_id`),
  CONSTRAINT `FKp56c1712k691lhsyewcssf40f` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-13 13:56:20
